.event-delegation{
  --bg1:#f8f8f8;
  --bg2:#f8f8f8fc;
 
}
.bg1{
  background-color: var(--bg1);
}
.bg2{
  background-color: var(--bg2);
}

html.dark .event-delegation{
  --bg1:#121212;
  --bg2:#212121;
 
}