:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

* {
  padding: 0;
  margin: 0;
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
  text-align: left;
}


html {
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #010101;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

html {
  overflow: scroll;
}

html:not(.dark) [img-dark] {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
  opacity: 0.6;
  outline: none;
}

a:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}


@media(max-width:1750px){
  .caodong{
    display: none;
  }
} 
@media(max-height:700px){
  .caodong{
    display: none;
  }
}  
  
 
html:not(.dark) .caodong {
  display: none;
}